IndentWidth: 4
SpaceAfterCStyleCast: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterStruct: false
    AfterFunction: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false

AllowShortFunctionsOnASingleLine: Empty
ConstructorInitializerAllOnOneLineOrOnePerLine: true

SpacesBeforeTrailingComments: 2
IndentGotoLabels: false
SeparateDefinitionBlocks: Always
InsertBraces: true
AccessModifierOffset: -4
ColumnLimit: 100
